body, html {
    height: 100%;
    /*font-family: system-ui, Helvetica, sans-serif;*/
    font-family: 'PT Sans', sans-serif;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    border: none;
    scroll-behavior: smooth;

}

li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: rgba(66, 66, 66, 1);
}


.scroll{
  font-weight: 200;
  color: white;
}

/*Minha foto*/
.image {
    width: 80%;
    background-color: #0b1c38 ;
    border-radius: 50%;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 1, 1), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
    background-position: 10px 10px;
}



/*Espacadores para descer a barra inicial do site*/
.getDown{
  text-align: center;
}

.box{
  text-align: center;
  color: black;
  font-weight: 600;
  vertical-align: middle;
  box-sizing: border-box;
}


.title{
  text-align: center;
  font-weight: 200;
}

.parallax1{
    background-image: url("php.jpg");
    height: 100%;
    filter: saturate(150%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
  background-image: url("workspace.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.parallax3{
  background-image: url("theTable.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.sobreMimTextoImagem{
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
  margin: 10px 20px 10px 0;
}

.sobreMimTexto{
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}

.parallax4{
  background-image: url("code.jpg");
  background-blend-mode: color-burn;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#contatos ul {
    padding:0px;
    margin:0px;
    list-style:none;
}

#contatos ul li {
   display: inline;
}

.link{
  padding-left: 50px;
  color: white;
}

.email{
  padding-left: 50px;
  font-weight: 200;
}

.logoGit{
  width: 80px;
  height: 66.5px;
  border-radius: 10%;

  background-size: contain;
  background-color: white;
}

.logoFace{
  width: 80px;
  height: 80px;
  border-radius: 10%;
  background-size: contain;
  background-color: white;
}

.credits{
  font-weight: 400;
  text-align: center;
}
